.App {
  text-align: center;
}

.title {
  margin: auto;
  text-align: center;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 10px;
}

.searchbox {
  margin-top: 1px;
  margin: auto;
  width: 40%;
}

.poweredby {
  justify-content: right;
  margin: auto;
  width: 40%;
}

.hits {
  margin: auto;
  width: 96%;
  border-style: solid;
  border-width: medium;
  border-color: #e6e6e6;
  /* order buttons in rows of 3 */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px; */
}
